DATABASE_URL="postgresql://user:password@localhost:5432/database"
PORT=3000
OCPP_PORT=9220
OCPP_LOG_WS_PORT=3001
JWT_SECRET="your-secret-key"
REDIS_URL="redis://localhost:6379"
LOG_LEVEL=info
DEFAULT_DYNAMIC_PROVIDER="EnergyZero"
DEFAULT_DYNAMIC_COUNTRY="BE"
